<div id="summoner_01" class="flex-1">
  <div class="champion flex">
    <!-- <span>英雄：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="position flex">
    <!-- <span>位置：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="rune flex">
    <!-- <span>天赋：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="skill flex">
    <!-- <span>技能：</span> -->
    <img src="" alt="暂未抽取" />
    <img src="" alt="暂未抽取" />
  </div>
  <!-- <div class="equipment flex">
    <span>第一件装备（暂未实现...）：</span>
    <img src="" alt="暂未抽取" />
  </div> -->
</div>
<div id="summoner_02" class="flex-1">
  <div class="champion flex">
    <!-- <span>英雄：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="position flex">
    <!-- <span>位置：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="rune flex">
    <!-- <span>天赋：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="skill flex">
    <!-- <span>技能：</span> -->
    <img src="" alt="暂未抽取" />
    <img src="" alt="暂未抽取" />
  </div>
  <!-- <div class="equipment flex">
    <span>第一件装备（暂未实现...）：</span>
    <img src="" alt="暂未抽取" />
  </div> -->
</div>
<div id="summoner_03" class="flex-1">
  <div class="champion flex">
    <!-- <span>英雄：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="position flex">
    <!-- <span>位置：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="rune flex">
    <!-- <span>天赋：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="skill flex">
    <!-- <span>技能：</span> -->
    <img src="" alt="暂未抽取" />
    <img src="" alt="暂未抽取" />
  </div>
  <!-- <div class="equipment flex">
    <span>第一件装备（暂未实现...）：</span>
    <img src="" alt="暂未抽取" />
  </div> -->
</div>
<div id="summoner_04" class="flex-1">
  <div class="champion flex">
    <!-- <span>英雄：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="position flex">
    <!-- <span>位置：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="rune flex">
    <!-- <span>天赋：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="skill flex">
    <!-- <span>技能：</span> -->
    <img src="" alt="暂未抽取" />
    <img src="" alt="暂未抽取" />
  </div>
  <!-- <div class="equipment flex">
    <span>第一件装备（暂未实现...）：</span>
    <img src="" alt="暂未抽取" />
  </div> -->
</div>
<div id="summoner_05" class="flex-1">
  <div class="champion flex">
    <!-- <span>英雄：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="position flex">
    <!-- <span>位置：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="rune flex">
    <!-- <span>天赋：</span> -->
    <img src="" alt="暂未抽取" />
  </div>
  <div class="skill flex">
    <!-- <span>技能：</span> -->
    <img src="" alt="暂未抽取" />
    <img src="" alt="暂未抽取" />
  </div>
  <!-- <div class="equipment flex">
    <span>第一件装备（暂未实现...）：</span>
    <img src="" alt="暂未抽取" />
  </div> -->
</div>